body {
  padding: 0px;
  margin: 0px;


font-family: "Roboto" sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;

color: #434455;
background-color: #FFFFFF;
}

ul, ol {
  list-style: none;
  
}

a {
  text-decoration: none;
}

.logo-header {
  font-family: "Raleway" sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
color: #4d5ae5;


}

.span-logo-header {
  color: #2e2f42;
  
}

.navigation-item {
  color: #2E2F42;
}
.navigation-item:hover, :focus {
  color: #404bbf;
}

.section-header {
  display: flex;
}
.list-header {
  display: flex;
  gap: 40px;
  
}
.hero-section {
  background-color: #2E2F42;
}

.hero-title {
  color: #FFFFFF;
font-family: "Roboto", sans-serif;
font-size: 56px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0.02em;
text-align: center;
text-align: center;

}

.btn-container {
  display: flex;
    justify-content: center;
    align-items: center;
    padding: ;
}

.hero-button
{
background-color:#4d5ae5;
height:56px;
width:169px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.15000000596046448));
border-radius:4px;
padding-left:32px;
padding-right:32px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:relative;
border-style:hidden;
outline:none;
color: #FFFFFF;
align-items: center;


}

.info-sec-list {
  display: flex;
}

.our-team{
  background-color: #F4F4FD;
  
}

.info-sec-title {
  color: #2E2F42;
}

.info-sec-text {
  color: #434455;
}

.our-team {
  position: absolute;
}

.our-team-title {
  text-align: center;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.teamcards
{
background-color:#ffffff;
height:380px;
width:264px;
filter:drop-shadow(0px 1px 6px rgba(0.18039216101169586,0.18431372940540314,0.25882354378700256,0.07999999821186066));
border-radius:0px 0px 4px 4px;
padding-bottom:32px;
display:flex;
flex-direction:column;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #f9f9fd;
}

.card {
  max-width: 320px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f44336;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card-image {
  display: block;
  max-width: 100%;
}

.card-heading {
  margin: 0;
  padding: 20px;
  font-weight: 500;
  background-color: #03a9f4;
}
